:root {
    --background_clr: #A7B49E;
}
body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 1fr;
    background-color: var(--background_clr);
}

.header {
    grid-column: 1/3;
    background-color: #5C7285;
    color: white;
}

.sidebar {
    background-color: #818C78;


}

.main {
    background-color: var(--background_clr);
    display: flex;
    gap: 20px;
    
}

.book_card {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;

    
}